```
Q1. Write a program to accept percentage from the user and display the grade according to the following criteria: 
```
| Marks           | Grade   |
| --------------- | ------- |
| >90             | A       |
| >80 and <= 90   | B       |
| >=60 and <= 80  | C       |
| below 60        | D       |

In [5]:
marks=int(input("enter your marks"))
if marks>90 :
    print(" grade : A ")
elif marks >80 and marks <=90 :
    print(" grade : B ")
elif marks >=60 and marks<=80 :
    print(" grade : C ") 
elif marks < 60 :
    print(" grade : D ")
else : 
    print(" please enter a valid input ")

enter your marks 55

 grade : D

```
Q2. Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria: 

```
| Tax             | Cost Price (In Rs.)   |
| --------------- | -------               |
| 15%             | > 100000              |
| 10%             | > 50000 and <= 100000 |
| 5%              | <= 50000              |

In [11]:
cost_price =int(input(" enter the cost price of your bike "))
if cost_price> 100000:
    print(" road tax : 15% ")
elif cost_price>50000 and cost_price<=100000 :
    print(" road tax : 10% ")
elif cost_price <= 50000 :
    print( " road tax : 5% " )

 enter the cost price of your bike  40000

 road tax : 5%

```
Q3. Accept any city from the user and display monuments of that city.

```
| City      | Monument  |
| --------- | -------   |
| Delhi     | Red Fort  |
| Agra      | Taj Mahal |
| Jaipur    | Jal Mahal |

In [12]:
city=input("enter your city name ")
if city=="delhi" :
    print(" monument : red fort " )
elif city=="agra" :
    print(" monument : taj mahal  ")
elif city=="jaipur":
    print(" monument : jal mahal  ")

enter your city name  agra

 monument : taj mahal

```
Q4. Check how many times a given number can be divided by 3 before it is less than or equal to 10. 

```

```
Q5. Why and When to Use while Loop in Python give a detailed description with example 

Ans. The while loop in Python is used when you want to repeatedly execute a block of code as long as a certain condition is met. The loop continues to execute as long as the condition is True.

For example :
```

In [9]:
"""   
 One important thing to note here is , this is an example of while loop which is not infinite because after some time
 the condition becomes false . In case the condition never becomes false it will be an infinite loop . 
"""
a=0

while a<=90:
    a=a+10
    print(a)

10
20
30
40
50
60
70
80
90
100

```
Q6. Use nested while loop to print 3 different pattern. 

```

```
Q7. Reverse a while loop to display numbers from 10 to 1 
```

In [1]:
x=10
while x >0:
    print(x)
    x-=1

10
9
8
7
6
5
4
3
2
1

```
Q8. Reverse a while loop to display numbers from 10 to 1 
```